<div class="panel panel-default">
    <div class="panel-heading">
        <span><i class="fa fa-link"></i>&nbsp;<strong>相关链接</strong></span>
    </div>
    <div class="list-group">
        <a href="http://weibo.com/sweetbreeze?is_hot=1" target="_blank" class="list-group-item">夏天的陈小舒</a>
        <a href="http://www.yaolan.com/" target="_blank" class="list-group-item">摇篮育儿</a>
        <a href="https://www.smugmug.com/" target="_blank" class="list-group-item">Smugmug Photo</a>
        <a href="http://www.meishichina.com/" target="_blank" class="list-group-item">美食天下</a>
        <a href="http://product.dangdang.com/1421357852.html" target="_blank" class="list-group-item">物演通论</a>
        <a href="http://product.dangdang.com/23750491.html" target="_blank" class="list-group-item">迷茫时代的明白人</a>
    </div>
</div>