<div class="panel panel-default">
    <div class="panel-heading">
        <span><i class="fa fa-link"></i>&nbsp;<strong>相关链接</strong></span>
    </div>
    <div class="list-group">
        <a href="https://www.microsoft.com/cognitive-services" target="_blank" class="list-group-item">Microsoft Oxford</a>
        <a href="https://www.azure.cn/cognitive-services/" target="_blank" class="list-group-item">微软牛津项目</a>
        <a href="https://www.microsoft.com/cognitive-services/en-us/face-api" target="_blank" class="list-group-item">Oxford Face Api</a>
        <a href="https://www.microsoft.com/cognitive-services/en-us/speech-api" target="_blank" class="list-group-item">Oxford Speech Api</a>
        <a href="http://developer.baidu.com/wiki/index.php?title=docs/cplat/media/face" target="_blank" class="list-group-item">百度人脸识别</a>
        <a href="http://research.google.com/" target="_blank" class="list-group-item">Google Intelligence</a>
    </div>
</div>
